* {
  box-sizing: border-box;
}

:root {
  --darkGray: rgb(22, 22, 22);
  --mediumGray: rgb(31, 31, 31);
  --lightGray: rgba(224, 212, 212, 0.596);
  --lightGray2: rgb(224, 212, 212);
}

body {
  background-color: var(--darkGray);
  color: white;
}

a {
  color: inherit;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: rgb(255, 217, 0);
  background-color: var(--darkGray);
}

/* header */
.navbar-container {
  display: flex;
  background-color: var(--mediumGray);
  color: inherit;
}

.logo-pic {
  height: 100%;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  margin-left: 20px;
}

.navbar-brand {
  font-size: 28px;
  height: 120%;
  padding: 0;
  margin: 0;
}

.nav-links {
  width: 100%;
  font-size: 20px;
  color: white;
}

.navbar-ul {
  justify-content: flex-end;
}

/* main container */
.main-container {
  width: 100%;
  padding: 0;
}

/* Carousel */
.carousel-main {
  margin-right: 1px;
  margin-left: 1px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.col-12 {
  margin-left: 0;
  margin-right: 0;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  justify-content: center;
}

.carousel-img {
  width: auto;
  height: 300px;
  justify-content: center;
  margin-bottom: 30px;
}

.carousel-caption {
  background-color: rgba(61, 61, 61, 0.945);
  margin-bottom: -24px;
  padding: 2px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  font-weight: bold;
  color: black;
}

/* About me row */

.about-me {
  margin-left: 0;
  background-color: var(--mediumGray);
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.profile-pic {
  width: 50%;
  border: 9px solid var(--darkGray);
  margin-left: 10%;
}

.about-me-description {
  font-size: 19px;
  padding-left: 3%;
  padding-right: 2%;
  text-align: justify;
}

/* Work rows */
.my-main-work {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.main-work-pic {
  width: 80%;
  margin-left: 2%;
  border: 9px solid var(--mediumGray);
}

.main-work-description {
  background-color: var(--mediumGray);
  width: 45%;
  z-index: 10;
  position: absolute;
  bottom: 7%;
  line-height: 1;
  margin-left: 10.9%;
}

.main-work-description h2 {
  font-size: 22px;
}

.main-work-description p {
  font-size: 18px;
}

.github-project-link {
  margin-left: 10px;
}

.work-pic {
  border: 9px var(--mediumGray) solid;
  width: 120%;
  height: 100%;
  margin-top: 3%;
  margin-left: 0%;
}

/* .main-work-container {
 border: 2px solid green; 
} */

.other-work {
  /* border: 2px solid red; */
  width: 100%;
  margin-right: 50px;
  margin-bottom: 10px;
}

.minorWorkContainer {
  /* border: 2px solid yellow; */
  padding-left: 240px;
  padding-right: 0;
}

.other-work,
.minorWorkContainer {
  display: flex;
  flex-wrap: wrap;
}

.other-work-description {
  background-color: var(--mediumGray);
  width: 55%;
  z-index: 10;
  position: absolute;
  bottom: 3%;
  padding-top: 5px;
}

.other-work-description h3 {
  font-size: 18px;
  line-height: 1;
}

.other-work-description p {
  line-height: 1.1;
  font-size: 14px;
}

/* contact me row */

.contact-me-container {
  margin-left: 0;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--mediumGray);
  display: flex;
}

.left-titles h2 {
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  text-align: right;
}

.linkContainer {
  /* border: 2px solid purple; */
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-item {
  font-size: 16px;

  /* color: red; */
}

/* light mode */
.light-mode {
  background-color: white;
  color: var(--darkGray);
}

.light-mode-other {
  background-color: var(--lightGray);
  color: var(--darkGray);
}

.light-mode-description {
  background-color: var(--lightGray2);
}

.light-mode-pics {
  border: 9px solid var(--lightGray2);
}

/* light/dark mode toggle */
.mode-switch {
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
}

/* media queries */

@media screen and (max-width: 768px) {
  .carousel-img {
    width: 95%;
    height: auto;
  }

  .about-me-description {
    font-size: 14px;
  }

  .profile-pic {
    display: block;
    width: 85%;
  }

  .main-work-description {
    width: 50%;
    margin-bottom: -4%;
    padding-left: 10px;
  }

  .other-work-description {
    width: 50%;
    margin-bottom: -7%;
    padding-left: 10px;
  }

  .main-work-description h2,
  .other-work-description h3 {
    font-size: 18px;
    line-height: 0.9;
  }

  .main-work-description p,
  .other-work-description p {
    font-size: 16px;
    line-height: 0.9;
  }

  .my-other-work {
    display: inline-block;
    width: 185%;
    height: auto;
    margin-left: 18.7%;
  }

  .work-pic {
    width: 100%;
    height: inherit;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 20px; /* WHY WONT SIZE CHANGE unless i specify it like below??? */
  }

  .main-work-description h2 {
    font-size: 16px;
  }

  .main-work-description {
    width: 40%;
  }

  .other-work-description h3 {
    font-size: 16px;
  }

  .other-work-description {
    width: 50%;
  }

  p {
    font-size: 12px;
    line-height: 0.9;
  }
}

/* borders for editing */
/*
.navbar-container {
    border: 2px red solid;
}

.logo-pic {
    border: 1px yellowgreen solid; 
}

.nav-links {
    border: 2px green solid;
}

.navbar-ul {
    border: 2px orange solid;
}

.main-container {
    border: 5px black solid; 
}

.col {
    border: 2px solid red;
}

.about-me {
    border: 2px orange solid;
}

.carousel-main {
    border: blue 2px solid;
}

.carousel {
    border: 2px solid lightblue;
}

.col-12 {
    border: green 2px solid;
}

.my-main-work {
    border: 2px solid orange;
}

.main-work-description {
    border: aqua 2px solid;
}

.my-other-work {
    border: 2px solid orange;
}

.work-pic {
    border: 6px gray solid;
}

.other-work-description {
    border: aqua 2px solid;
}

.contact-me-container {
    border: 2px solid orange;
}

.left-titles h2  {
    border: 5px pink solid;
}

.contact-links {
    border: 2px green solid;
}

.contact-item {
    border: 2px solid purple;
}
*/
